.wrap {
  border: 1px solid rgba(255, 255, 255, 0.356);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  padding: 8px;
  background-color: var(--second-bg-color);
  max-width: 250px;
}


.textPlusIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}
.textPlusIcon:nth-child(1){
  margin-bottom: 8px;
}
.noMargin {
  margin: 0;
}
