:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-image: url("./img/galaxy-night-landscape-min.jpg");

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme ="dark"]{
  --background-color: #fff;
  --background-image: url("./img/galaxy-night-landscape-min.jpg");
  --first-font-color: #fff;
  --second-font-color: #fff;
}

[data-theme ="light"]{
  --background-color: #fff;
  --first-font-color: #fff;
  --second-font-color: #fff;
    --background-image: url("https://img.freepik.com/premium-vector/star-wars-galaxy-background_510308-302.jpg");

}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}


#root {
  width: 100%;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
    max-width: 1280px;
  }
}