:root {
  --first-font: 'Star Wars', sans-serif;  /* https://www.cdnfonts.com/star-wars.font */
  --second-font: "WDXL Lubrifont TC", sans-serif;;

  font-family: var(--second-font);
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme ="dark"]{
  --background-color: rgb(96, 127, 148);
  --button-bg-color: rgb(40, 56, 71); 
  --background-image: url("./img/galaxy-night-landscape-min.jpg");
  --border-color: rgb(88, 168, 248);
  --second-border-color: #FFE81F;
  --first-font-color: rgb(244, 246, 249 );
  --second-font-color: rgb(53, 152, 250);
}

[data-theme ="light"]{
  --background-color: rgb(96, 127, 148);
  --button-bg-color: rgb(40, 56, 71);
  --background-image: url("./img/desert-day-landscape-min.jpg");
  --border-color: rgb(88, 168, 248);
  --second-border-color: #FFE81F;
  --first-font-color: rgb(244, 246, 249 );
  --second-font-color: rgb(53, 152, 250);

}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}


button {
  border: none;
  outline: none;
  cursor: pointer;
}


#root {
  width: 100%;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
    max-width: 1280px;
  }
}